.realisations {
  margin-top: 6vh;
  span {
    color: rgb(110, 94, 254);
    font-weight: 900;
  }
}

.projects {
  margin-top: 6vh;
  display: flex;
  justify-content: space-between;
}

.projectVideo {
  position: relative;
  margin-top: 6vh;
  padding-top: 56.25%;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;

  iframe {
    border-radius: 10px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 760px) {
  .realisations {
    margin-top: 28vh;
    h1 {
      margin: 0 11%;
    }
  }

  .projects {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
